# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

version-tests/src
version-tests/build.gradle
version-tests/gradle/wrapper
version-tests/gradlew
